/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="range"] {
    padding: 0;
}

input.message-input {
    text-transform: uppercase;
}

input.morse-input::placeholder {
    text-transform: none;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.label-wrapper {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    gap: 15px;
}

/* Контейнер из трех строк */
.three-row-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

/* Первая строка */
.first-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Вторая строка */
.second-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Поля ввода */
.input-fields {
    max-width: 1000px;
}

.group-count-wrapper {
    margin-bottom: 20px;
}

.service-fields {
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 10px;
}

.service-fields.row-1 {
    justify-content: space-between;
}

.service-fields * {
    font-weight: bold;
}

.service-fields input {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100px;
}

.service-fields input::placeholder {
    color: #666;
    font-size: 0.9em;
}

/* Контейнер для ввода */
#inputContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
    max-height: 25vh;
    overflow-y: auto;
}

#inputContainer input {
    width: 90%;
}

/* Контейнер для нижней части экрана */
.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* Колонки внизу */
.control-column {
    display: flex;
    flex-direction: column;
}

/* Стили для слайдера тона */
.tone-selector-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#toneSelector {
    width: 150px;
}

#toneValue {
    display: inline-block;
    width: 60px;
    text-align: right;
    font-weight: bold;
}

/* Селекторы для пауз */
#letterPause,
#groupPause {
    width: 80px;
}

/* Статусы */
.success {
    color: #155724;
}

.error {
    color: #721c24;
}

/* Кнопка "Подключиться" */
.blue-button {
    width: 100%;
}

/* Выбор скорости */
.speed-selector-container {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

@media (max-width: 1175px) {
    .controls-container {
        flex-direction: column;
        align-items: center;
    }

    .control-column {
        width: 100%;
        margin-top: 20px;
    }
}
