/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input.message-input {
    text-transform: uppercase;
}

input.morse-input::placeholder {
    text-transform: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Контейнер из трех строк */
.three-row-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

/* Первая строка */
.first-row-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.first-row-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Поля ввода */
.input-fields {
    max-width: 1000px;
}

.service-fields {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
}

.service-fields.row-1 {
    justify-content: space-between;
}

.service-fields * {
    font-weight: bold;
}

.service-fields input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100px;
}

.service-fields input::placeholder {
    color: #666;
    font-size: 0.9em;
}

/* flex-контейнера */
.flex-container {
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 15px;
}

/* Контейнер с кнопками и селекторами */
.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#inputContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
    max-height: 30vh;
    overflow-y: auto;
}

#inputContainer input {
    width: 90%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.output-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

/* Статусы */
.success {
    color: #155724;
}

.error {
    color: #721c24;
}

/* Кнопка "Подключиться" */
.blue-button {
    width: 100%;
}

/* Выбор скорости */
.speed-selector-container {
    display: flex;
    align-items: baseline;
    gap: 15px;
}